<header>
  <h1>{{ title }}</h1>
</header>
<hr />
<div class="container">
  <div class="column">
    <div class="worldMap">
      <app-worldmap
        (name)="onNameChange($event)"
        (capital)="onCapitalChange($event)"
        (region)="onRegionChange($event)"
        (income)="onIncomeChange($event)"
        (latitude)="onLatitudeChange($event)"
        (longitude)="onLongitudeChange($event)"
      ></app-worldmap>
    </div>
  </div>
  <div class="countryInfo">
    <div class="column">
      <app-countryinformation
        [name]="name"
        [capital]="capital"
        [region]="region"
        [income]="income"
        [latitude]="latitude"
        [longitude]="longitude"
      ></app-countryinformation>
    </div>
  </div>
</div>
<footer>Coded by Maddie Mincevich</footer>
